<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <label matListItemTitle>Dashboard</label>
      </a>
      <a mat-list-item routerLink="/admin/employees">
        <mat-icon matListItemIcon>supervisor_account</mat-icon>
        <label matListItemTitle>Empleados</label>
      </a>
      <a mat-list-item routerLink="/admin/rooms">
        <mat-icon matListItemIcon>airline_seat_individual_suite</mat-icon>
        <label matListItemTitle>Habitaciones</label>
      </a>
      <a mat-list-item routerLink="/admin/tasks">
        <mat-icon matListItemIcon>assignment</mat-icon>
        <label matListItemTitle>Tareas</label>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Hoteru</span>
      <span class="spacer"></span>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Cerrar Sesión
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
