<div class="grid-container">
  <h1 class="mat-h1">Habitaciones</h1>
  <mat-grid-list cols="3" rowHeight="250px">
    <mat-grid-tile colspan="2" rowspan="3">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Habitaciones</mat-card-title>
        </mat-card-header>
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Agregar nueva habitación</mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Agregar nuevo tipo de habitación</mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
