<div class="grid-container">
  <h1 class="mat-h1">Habitaciones</h1>
  <mat-grid-list cols="3" rowHeight="250px">
    <mat-grid-tile colspan="2" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Habitaciones</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngTemplateOutlet="roomTableTemplate"></ng-container>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Agregar nueva habitación</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngTemplateOutlet="saveRoomTemplate"></ng-container>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Agregar nuevo tipo de habitación</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngTemplateOutlet="saveRoomTypeTemplate"></ng-container>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!--TEMPLATES-->
<ng-template #roomTableTemplate>
   <table mat-table [dataSource]="datasource">

     <ng-container matColumnDef="id">
       <th mat-header-cell *matHeaderCellDef>No.</th>
       <td mat-cell *matCellDef="let element">{{ element.id }}</td>
     </ng-container>

     <ng-container matColumnDef="type">
       <th mat-header-cell *matHeaderCellDef>Tipo de habitación</th>
       <td mat-cell *matCellDef="let element">{{ element.type }}</td>
     </ng-container>

     <ng-container matColumnDef="state">
       <th mat-header-cell *matHeaderCellDef>Estado</th>
       <td mat-cell *matCellDef="let element">{{ element.state }}</td>
     </ng-container>

     <ng-container matColumnDef="options">
       <th mat-header-cell *matHeaderCellDef></th>
       <td mat-cell *matCellDef="let element">
         <button mat-icon-button color="warn">
           <mat-icon>delete</mat-icon>
         </button>
       </td>
     </ng-container>

     <tr mat-header-row *matHeaderRowDef="columns"></tr>
     <tr mat-row *matRowDef="let row; columns: columns;"></tr>
   </table>
</ng-template>

<ng-template #saveRoomTemplate>
  <div class="center">
    <mat-form-field class="form-input" appearance="outline">
      <mat-label>Tipo de Habitación</mat-label>
      <mat-select [formControl]="roomControl">
        <mat-option>Seleccione un tipo</mat-option>
        <mat-option *ngFor="let type of roomTypes" [value]="type.id">{{ type.type }}</mat-option>
      </mat-select>
      <mat-error *ngIf="roomControl.hasError">El tipo de habitación es obligatorio.</mat-error>
    </mat-form-field>
    <button [disabled]="roomControl.invalid && roomControl.touched" mat-flat-button color="primary" (click)="saveRoom()">
      Agregar
    </button>
  </div>
</ng-template>

<ng-template #saveRoomTypeTemplate>
  <div class="center">
    <mat-form-field class="form-input" appearance="outline">
      <mat-label>Tipo de Habitación</mat-label>
      <input [formControl]="roomTypeControl" matInput type="text" placeholder="Ingrese el tipo de habitación">
      <mat-error *ngIf="roomTypeControl.hasError">El campo es obligatorio</mat-error>
    </mat-form-field>
    <div>
      <button [disabled]="roomTypeControl.invalid && roomTypeControl.touched" mat-flat-button color="primary"
              (click)="saveType()">
        Agregar
      </button>
      <button mat-flat-button type="button" color="accent" style="margin-left: 10px"
              (click)="showRoomTypeTable(roomTypeTableTemplate)">
        Ver tipos
      </button>
    </div>
  </div>
</ng-template>

<ng-template #roomTypeTableTemplate>
  <div style="width: 500px">
    <h1 mat-dialog-title>Tipos de habitaciones</h1>
    <mat-dialog-content>
      <table mat-table [dataSource]="typeDatasource">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{element.type}}</td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteType(element, confirmTemplate)"
                    [disabled]="element.type === 'admin' || element.type === 'recepcionista'">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="typeColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: typeColumns;"></tr>
      </table>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-flat-button color="warn" mat-dialog-close>Cerrar</button>
    </mat-dialog-actions>
  </div>
</ng-template>

<ng-template #confirmTemplate let-data>
  <div style="width: 375px">
    <h1 mat-dialog-title>¿Estás seguro?</h1>
    <mat-dialog-content>
      <span>¿Realmente quieres eliminar el tipo de habitación "{{data.type}}"?</span>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-flat-button color="primary" [mat-dialog-close]="true">Eliminar</button>
      <button mat-flat-button color="warn" [mat-dialog-close]="false">Cerrar</button>
    </mat-dialog-actions>
  </div>
</ng-template>
