<mat-toolbar color="primary">
  <span>Hoteru</span>
  <span class="spacer"></span>
  <button mat-button (click)="logout()">
    <mat-icon>logout</mat-icon>
    Cerrar Sesión
  </button>
</mat-toolbar>

<div class="grid-container">
  <h1 class="mat-h1">Recepcionista</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Agregar reservación</mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
